src/main/resources/wsdl/nwsContent.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.uts.umls.nlm.nih.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.uts.umls.nlm.nih.gov/" name="UtsWsContentControllerImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.uts.umls.nlm.nih.gov/" schemaLocation="https://uts-ws.nlm.nih.gov:443/services/nwsContent?xsd=1" />
</xsd:schema>
</types>
<message name="getCode">
<part name="parameters" element="tns:getCode" />
</message>
<message name="getCodeResponse">
<part name="parameters" element="tns:getCodeResponse" />
</message>
<message name="UtsFault">
<part name="fault" element="tns:UtsFault" />
</message>
<message name="getSourceConcept">
<part name="parameters" element="tns:getSourceConcept" />
</message>
<message name="getSourceConceptResponse">
<part name="parameters" element="tns:getSourceConceptResponse" />
</message>
<message name="getAtomAttributes">
<part name="parameters" element="tns:getAtomAttributes" />
</message>
<message name="getAtomAttributesResponse">
<part name="parameters" element="tns:getAtomAttributesResponse" />
</message>
<message name="getConcept">
<part name="parameters" element="tns:getConcept" />
</message>
<message name="getConceptResponse">
<part name="parameters" element="tns:getConceptResponse" />
</message>
<message name="getAtom">
<part name="parameters" element="tns:getAtom" />
</message>
<message name="getAtomResponse">
<part name="parameters" element="tns:getAtomResponse" />
</message>
<message name="getAtomDefinitions">
<part name="parameters" element="tns:getAtomDefinitions" />
</message>
<message name="getAtomDefinitionsResponse">
<part name="parameters" element="tns:getAtomDefinitionsResponse" />
</message>
<message name="getCodeDefinitions">
<part name="parameters" element="tns:getCodeDefinitions" />
</message>
<message name="getCodeDefinitionsResponse">
<part name="parameters" element="tns:getCodeDefinitionsResponse" />
</message>
<message name="getSourceConceptDefinitions">
<part name="parameters" element="tns:getSourceConceptDefinitions" />
</message>
<message name="getSourceConceptDefinitionsResponse">
<part name="parameters" element="tns:getSourceConceptDefinitionsResponse" />
</message>
<message name="getSourceDescriptorDefinitions">
<part name="parameters" element="tns:getSourceDescriptorDefinitions" />
</message>
<message name="getSourceDescriptorDefinitionsResponse">
<part name="parameters" element="tns:getSourceDescriptorDefinitionsResponse" />
</message>
<message name="getDefinitionAttributes">
<part name="parameters" element="tns:getDefinitionAttributes" />
</message>
<message name="getDefinitionAttributesResponse">
<part name="parameters" element="tns:getDefinitionAttributesResponse" />
</message>
<message name="getAtomCodeRelations">
<part name="parameters" element="tns:getAtomCodeRelations" />
</message>
<message name="getAtomCodeRelationsResponse">
<part name="parameters" element="tns:getAtomCodeRelationsResponse" />
</message>
<message name="getAtomConceptRelations">
<part name="parameters" element="tns:getAtomConceptRelations" />
</message>
<message name="getAtomConceptRelationsResponse">
<part name="parameters" element="tns:getAtomConceptRelationsResponse" />
</message>
<message name="getAtomContentViewMemberships">
<part name="parameters" element="tns:getAtomContentViewMemberships" />
</message>
<message name="getAtomContentViewMembershipsResponse">
<part name="parameters" element="tns:getAtomContentViewMembershipsResponse" />
</message>
<message name="getAtomCooccurrences">
<part name="parameters" element="tns:getAtomCooccurrences" />
</message>
<message name="getAtomCooccurrencesResponse">
<part name="parameters" element="tns:getAtomCooccurrencesResponse" />
</message>
<message name="getCooccurrenceSubheadingFrequencies">
<part name="parameters" element="tns:getCooccurrenceSubheadingFrequencies" />
</message>
<message name="getCooccurrenceSubheadingFrequenciesResponse">
<part name="parameters" element="tns:getCooccurrenceSubheadingFrequenciesResponse" />
</message>
<message name="getAtomAtomRelations">
<part name="parameters" element="tns:getAtomAtomRelations" />
</message>
<message name="getAtomAtomRelationsResponse">
<part name="parameters" element="tns:getAtomAtomRelationsResponse" />
</message>
<message name="getAtomSourceConceptRelations">
<part name="parameters" element="tns:getAtomSourceConceptRelations" />
</message>
<message name="getAtomSourceConceptRelationsResponse">
<part name="parameters" element="tns:getAtomSourceConceptRelationsResponse" />
</message>
<message name="getAtomSourceDescriptorRelations">
<part name="parameters" element="tns:getAtomSourceDescriptorRelations" />
</message>
<message name="getAtomSourceDescriptorRelationsResponse">
<part name="parameters" element="tns:getAtomSourceDescriptorRelationsResponse" />
</message>
<message name="getAtomSubsetMemberships">
<part name="parameters" element="tns:getAtomSubsetMemberships" />
</message>
<message name="getAtomSubsetMembershipsResponse">
<part name="parameters" element="tns:getAtomSubsetMembershipsResponse" />
</message>
<message name="getAtomTreePositions">
<part name="parameters" element="tns:getAtomTreePositions" />
</message>
<message name="getAtomTreePositionsResponse">
<part name="parameters" element="tns:getAtomTreePositionsResponse" />
</message>
<message name="getCodeTreePositions">
<part name="parameters" element="tns:getCodeTreePositions" />
</message>
<message name="getCodeTreePositionsResponse">
<part name="parameters" element="tns:getCodeTreePositionsResponse" />
</message>
<message name="getSourceConceptTreePositions">
<part name="parameters" element="tns:getSourceConceptTreePositions" />
</message>
<message name="getSourceConceptTreePositionsResponse">
<part name="parameters" element="tns:getSourceConceptTreePositionsResponse" />
</message>
<message name="getSourceDescriptorTreePositions">
<part name="parameters" element="tns:getSourceDescriptorTreePositions" />
</message>
<message name="getSourceDescriptorTreePositionsResponse">
<part name="parameters" element="tns:getSourceDescriptorTreePositionsResponse" />
</message>
<message name="getAtomTreePositionPathsToRoot">
<part name="parameters" element="tns:getAtomTreePositionPathsToRoot" />
</message>
<message name="getAtomTreePositionPathsToRootResponse">
<part name="parameters" element="tns:getAtomTreePositionPathsToRootResponse" />
</message>
<message name="getCodeTreePositionPathsToRoot">
<part name="parameters" element="tns:getCodeTreePositionPathsToRoot" />
</message>
<message name="getCodeTreePositionPathsToRootResponse">
<part name="parameters" element="tns:getCodeTreePositionPathsToRootResponse" />
</message>
<message name="getSourceConceptTreePositionPathsToRoot">
<part name="parameters" element="tns:getSourceConceptTreePositionPathsToRoot" />
</message>
<message name="getSourceConceptTreePositionPathsToRootResponse">
<part name="parameters" element="tns:getSourceConceptTreePositionPathsToRootResponse" />
</message>
<message name="getSourceDescriptorTreePositionPathsToRoot">
<part name="parameters" element="tns:getSourceDescriptorTreePositionPathsToRoot" />
</message>
<message name="getSourceDescriptorTreePositionPathsToRootResponse">
<part name="parameters" element="tns:getSourceDescriptorTreePositionPathsToRootResponse" />
</message>
<message name="getAtomTreePositionChildren">
<part name="parameters" element="tns:getAtomTreePositionChildren" />
</message>
<message name="getAtomTreePositionChildrenResponse">
<part name="parameters" element="tns:getAtomTreePositionChildrenResponse" />
</message>
<message name="getCodeTreePositionChildren">
<part name="parameters" element="tns:getCodeTreePositionChildren" />
</message>
<message name="getCodeTreePositionChildrenResponse">
<part name="parameters" element="tns:getCodeTreePositionChildrenResponse" />
</message>
<message name="getSourceConceptTreePositionChildren">
<part name="parameters" element="tns:getSourceConceptTreePositionChildren" />
</message>
<message name="getSourceConceptTreePositionChildrenResponse">
<part name="parameters" element="tns:getSourceConceptTreePositionChildrenResponse" />
</message>
<message name="getSourceDescriptorTreePositionChildren">
<part name="parameters" element="tns:getSourceDescriptorTreePositionChildren" />
</message>
<message name="getSourceDescriptorTreePositionChildrenResponse">
<part name="parameters" element="tns:getSourceDescriptorTreePositionChildrenResponse" />
</message>
<message name="getAtomTreePositionSiblings">
<part name="parameters" element="tns:getAtomTreePositionSiblings" />
</message>
<message name="getAtomTreePositionSiblingsResponse">
<part name="parameters" element="tns:getAtomTreePositionSiblingsResponse" />
</message>
<message name="getCodeTreePositionSiblings">
<part name="parameters" element="tns:getCodeTreePositionSiblings" />
</message>
<message name="getCodeTreePositionSiblingsResponse">
<part name="parameters" element="tns:getCodeTreePositionSiblingsResponse" />
</message>
<message name="getSourceConceptTreePositionSiblings">
<part name="parameters" element="tns:getSourceConceptTreePositionSiblings" />
</message>
<message name="getSourceConceptTreePositionSiblingsResponse">
<part name="parameters" element="tns:getSourceConceptTreePositionSiblingsResponse" />
</message>
<message name="getSourceDescriptorTreePositionSiblings">
<part name="parameters" element="tns:getSourceDescriptorTreePositionSiblings" />
</message>
<message name="getSourceDescriptorTreePositionSiblingsResponse">
<part name="parameters" element="tns:getSourceDescriptorTreePositionSiblingsResponse" />
</message>
<message name="getCodeAtomRelations">
<part name="parameters" element="tns:getCodeAtomRelations" />
</message>
<message name="getCodeAtomRelationsResponse">
<part name="parameters" element="tns:getCodeAtomRelationsResponse" />
</message>
<message name="getCodeAtoms">
<part name="parameters" element="tns:getCodeAtoms" />
</message>
<message name="getCodeAtomsResponse">
<part name="parameters" element="tns:getCodeAtomsResponse" />
</message>
<message name="getCodeAttributes">
<part name="parameters" element="tns:getCodeAttributes" />
</message>
<message name="getCodeAttributesResponse">
<part name="parameters" element="tns:getCodeAttributesResponse" />
</message>
<message name="getCodeCodeRelations">
<part name="parameters" element="tns:getCodeCodeRelations" />
</message>
<message name="getCodeCodeRelationsResponse">
<part name="parameters" element="tns:getCodeCodeRelationsResponse" />
</message>
<message name="getCodeSourceConceptRelations">
<part name="parameters" element="tns:getCodeSourceConceptRelations" />
</message>
<message name="getCodeSourceConceptRelationsResponse">
<part name="parameters" element="tns:getCodeSourceConceptRelationsResponse" />
</message>
<message name="getCodeSourceDescriptorRelations">
<part name="parameters" element="tns:getCodeSourceDescriptorRelations" />
</message>
<message name="getCodeSourceDescriptorRelationsResponse">
<part name="parameters" element="tns:getCodeSourceDescriptorRelationsResponse" />
</message>
<message name="getConceptAtomRelations">
<part name="parameters" element="tns:getConceptAtomRelations" />
</message>
<message name="getConceptAtomRelationsResponse">
<part name="parameters" element="tns:getConceptAtomRelationsResponse" />
</message>
<message name="getConceptAtoms">
<part name="parameters" element="tns:getConceptAtoms" />
</message>
<message name="getConceptAtomsResponse">
<part name="parameters" element="tns:getConceptAtomsResponse" />
</message>
<message name="getConceptConceptRelations">
<part name="parameters" element="tns:getConceptConceptRelations" />
</message>
<message name="getConceptConceptRelationsResponse">
<part name="parameters" element="tns:getConceptConceptRelationsResponse" />
</message>
<message name="getConceptAttributes">
<part name="parameters" element="tns:getConceptAttributes" />
</message>
<message name="getConceptAttributesResponse">
<part name="parameters" element="tns:getConceptAttributesResponse" />
</message>
<message name="getContentViewAttributes">
<part name="parameters" element="tns:getContentViewAttributes" />
</message>
<message name="getContentViewAttributesResponse">
<part name="parameters" element="tns:getContentViewAttributesResponse" />
</message>
<message name="getContentViewMemberAttributes">
<part name="parameters" element="tns:getContentViewMemberAttributes" />
</message>
<message name="getContentViewMemberAttributesResponse">
<part name="parameters" element="tns:getContentViewMemberAttributesResponse" />
</message>
<message name="getDefaultPreferredAtom">
<part name="parameters" element="tns:getDefaultPreferredAtom" />
</message>
<message name="getDefaultPreferredAtomResponse">
<part name="parameters" element="tns:getDefaultPreferredAtomResponse" />
</message>
<message name="getTerm">
<part name="parameters" element="tns:getTerm" />
</message>
<message name="getTermResponse">
<part name="parameters" element="tns:getTermResponse" />
</message>
<message name="getTermAtoms">
<part name="parameters" element="tns:getTermAtoms" />
</message>
<message name="getTermAtomsResponse">
<part name="parameters" element="tns:getTermAtomsResponse" />
</message>
<message name="getMapObjectAttributes">
<part name="parameters" element="tns:getMapObjectAttributes" />
</message>
<message name="getMapObjectAttributesResponse">
<part name="parameters" element="tns:getMapObjectAttributesResponse" />
</message>
<message name="getMapObjectFromMapping">
<part name="parameters" element="tns:getMapObjectFromMapping" />
</message>
<message name="getMapObjectFromMappingResponse">
<part name="parameters" element="tns:getMapObjectFromMappingResponse" />
</message>
<message name="getMapObjectToMapping">
<part name="parameters" element="tns:getMapObjectToMapping" />
</message>
<message name="getMapObjectToMappingResponse">
<part name="parameters" element="tns:getMapObjectToMappingResponse" />
</message>
<message name="getMappingAttributes">
<part name="parameters" element="tns:getMappingAttributes" />
</message>
<message name="getMappingAttributesResponse">
<part name="parameters" element="tns:getMappingAttributesResponse" />
</message>
<message name="getMappings">
<part name="parameters" element="tns:getMappings" />
</message>
<message name="getMappingsResponse">
<part name="parameters" element="tns:getMappingsResponse" />
</message>
<message name="getMapSetAttributes">
<part name="parameters" element="tns:getMapSetAttributes" />
</message>
<message name="getMapSetAttributesResponse">
<part name="parameters" element="tns:getMapSetAttributesResponse" />
</message>
<message name="getMapsets">
<part name="parameters" element="tns:getMapsets" />
</message>
<message name="getMapsetsResponse">
<part name="parameters" element="tns:getMapsetsResponse" />
</message>
<message name="getRelationAttributes">
<part name="parameters" element="tns:getRelationAttributes" />
</message>
<message name="getRelationAttributesResponse">
<part name="parameters" element="tns:getRelationAttributesResponse" />
</message>
<message name="getRelationContentViewMemberships">
<part name="parameters" element="tns:getRelationContentViewMemberships" />
</message>
<message name="getRelationContentViewMembershipsResponse">
<part name="parameters" element="tns:getRelationContentViewMembershipsResponse" />
</message>
<message name="getRelationRelations">
<part name="parameters" element="tns:getRelationRelations" />
</message>
<message name="getRelationRelationsResponse">
<part name="parameters" element="tns:getRelationRelationsResponse" />
</message>
<message name="getRelationSubsetMemberships">
<part name="parameters" element="tns:getRelationSubsetMemberships" />
</message>
<message name="getRelationSubsetMembershipsResponse">
<part name="parameters" element="tns:getRelationSubsetMembershipsResponse" />
</message>
<message name="getRootAtomTreePositions">
<part name="parameters" element="tns:getRootAtomTreePositions" />
</message>
<message name="getRootAtomTreePositionsResponse">
<part name="parameters" element="tns:getRootAtomTreePositionsResponse" />
</message>
<message name="getRootCodeTreePositions">
<part name="parameters" element="tns:getRootCodeTreePositions" />
</message>
<message name="getRootCodeTreePositionsResponse">
<part name="parameters" element="tns:getRootCodeTreePositionsResponse" />
</message>
<message name="getRootSourceConceptTreePositions">
<part name="parameters" element="tns:getRootSourceConceptTreePositions" />
</message>
<message name="getRootSourceConceptTreePositionsResponse">
<part name="parameters" element="tns:getRootSourceConceptTreePositionsResponse" />
</message>
<message name="getRootSourceDescriptorTreePositions">
<part name="parameters" element="tns:getRootSourceDescriptorTreePositions" />
</message>
<message name="getRootSourceDescriptorTreePositionsResponse">
<part name="parameters" element="tns:getRootSourceDescriptorTreePositionsResponse" />
</message>
<message name="getSourceConceptAtomRelations">
<part name="parameters" element="tns:getSourceConceptAtomRelations" />
</message>
<message name="getSourceConceptAtomRelationsResponse">
<part name="parameters" element="tns:getSourceConceptAtomRelationsResponse" />
</message>
<message name="getSourceConceptAtoms">
<part name="parameters" element="tns:getSourceConceptAtoms" />
</message>
<message name="getSourceConceptAtomsResponse">
<part name="parameters" element="tns:getSourceConceptAtomsResponse" />
</message>
<message name="getSourceConceptAttributes">
<part name="parameters" element="tns:getSourceConceptAttributes" />
</message>
<message name="getSourceConceptAttributesResponse">
<part name="parameters" element="tns:getSourceConceptAttributesResponse" />
</message>
<message name="getSourceConceptCodeRelations">
<part name="parameters" element="tns:getSourceConceptCodeRelations" />
</message>
<message name="getSourceConceptCodeRelationsResponse">
<part name="parameters" element="tns:getSourceConceptCodeRelationsResponse" />
</message>
<message name="getSourceConceptContentViewMemberships">
<part name="parameters" element="tns:getSourceConceptContentViewMemberships" />
</message>
<message name="getSourceConceptContentViewMembershipsResponse">
<part name="parameters" element="tns:getSourceConceptContentViewMembershipsResponse" />
</message>
<message name="getSourceConceptSourceConceptRelations">
<part name="parameters" element="tns:getSourceConceptSourceConceptRelations" />
</message>
<message name="getSourceConceptSourceConceptRelationsResponse">
<part name="parameters" element="tns:getSourceConceptSourceConceptRelationsResponse" />
</message>
<message name="getSourceConceptSourceDescriptorRelations">
<part name="parameters" element="tns:getSourceConceptSourceDescriptorRelations" />
</message>
<message name="getSourceConceptSourceDescriptorRelationsResponse">
<part name="parameters" element="tns:getSourceConceptSourceDescriptorRelationsResponse" />
</message>
<message name="getSourceConceptSubsetMemberships">
<part name="parameters" element="tns:getSourceConceptSubsetMemberships" />
</message>
<message name="getSourceConceptSubsetMembershipsResponse">
<part name="parameters" element="tns:getSourceConceptSubsetMembershipsResponse" />
</message>
<message name="getSourceDescriptor">
<part name="parameters" element="tns:getSourceDescriptor" />
</message>
<message name="getSourceDescriptorResponse">
<part name="parameters" element="tns:getSourceDescriptorResponse" />
</message>
<message name="getSourceDescriptorAtomRelations">
<part name="parameters" element="tns:getSourceDescriptorAtomRelations" />
</message>
<message name="getSourceDescriptorAtomRelationsResponse">
<part name="parameters" element="tns:getSourceDescriptorAtomRelationsResponse" />
</message>
<message name="getSourceDescriptorAtoms">
<part name="parameters" element="tns:getSourceDescriptorAtoms" />
</message>
<message name="getSourceDescriptorAtomsResponse">
<part name="parameters" element="tns:getSourceDescriptorAtomsResponse" />
</message>
<message name="getSourceDescriptorAttributes">
<part name="parameters" element="tns:getSourceDescriptorAttributes" />
</message>
<message name="getSourceDescriptorAttributesResponse">
<part name="parameters" element="tns:getSourceDescriptorAttributesResponse" />
</message>
<message name="getSourceDescriptorCodeRelations">
<part name="parameters" element="tns:getSourceDescriptorCodeRelations" />
</message>
<message name="getSourceDescriptorCodeRelationsResponse">
<part name="parameters" element="tns:getSourceDescriptorCodeRelationsResponse" />
</message>
<message name="getSourceDescriptorSourceConceptRelations">
<part name="parameters" element="tns:getSourceDescriptorSourceConceptRelations" />
</message>
<message name="getSourceDescriptorSourceConceptRelationsResponse">
<part name="parameters" element="tns:getSourceDescriptorSourceConceptRelationsResponse" />
</message>
<message name="getSourceDescriptorSourceDescriptorRelations">
<part name="parameters" element="tns:getSourceDescriptorSourceDescriptorRelations" />
</message>
<message name="getSourceDescriptorSourceDescriptorRelationsResponse">
<part name="parameters" element="tns:getSourceDescriptorSourceDescriptorRelationsResponse" />
</message>
<message name="getTermString">
<part name="parameters" element="tns:getTermString" />
</message>
<message name="getTermStringResponse">
<part name="parameters" element="tns:getTermStringResponse" />
</message>
<message name="getTermStringAtoms">
<part name="parameters" element="tns:getTermStringAtoms" />
</message>
<message name="getTermStringAtomsResponse">
<part name="parameters" element="tns:getTermStringAtomsResponse" />
</message>
<message name="getTermStrings">
<part name="parameters" element="tns:getTermStrings" />
</message>
<message name="getTermStringsResponse">
<part name="parameters" element="tns:getTermStringsResponse" />
</message>
<message name="getSubsetAttributes">
<part name="parameters" element="tns:getSubsetAttributes" />
</message>
<message name="getSubsetAttributesResponse">
<part name="parameters" element="tns:getSubsetAttributesResponse" />
</message>
<message name="getSubsetMemberAttributes">
<part name="parameters" element="tns:getSubsetMemberAttributes" />
</message>
<message name="getSubsetMemberAttributesResponse">
<part name="parameters" element="tns:getSubsetMemberAttributesResponse" />
</message>
<message name="getSubsets">
<part name="parameters" element="tns:getSubsets" />
</message>
<message name="getSubsetsResponse">
<part name="parameters" element="tns:getSubsetsResponse" />
</message>
<message name="getContentViews">
<part name="parameters" element="tns:getContentViews" />
</message>
<message name="getContentViewsResponse">
<part name="parameters" element="tns:getContentViewsResponse" />
</message>
<message name="getContentView">
<part name="parameters" element="tns:getContentView" />
</message>
<message name="getContentViewResponse">
<part name="parameters" element="tns:getContentViewResponse" />
</message>
<message name="getContentViewSourceConceptMembers">
<part name="parameters" element="tns:getContentViewSourceConceptMembers" />
</message>
<message name="getContentViewSourceConceptMembersResponse">
<part name="parameters" element="tns:getContentViewSourceConceptMembersResponse" />
</message>
<message name="getContentViewAtomMembers">
<part name="parameters" element="tns:getContentViewAtomMembers" />
</message>
<message name="getContentViewAtomMembersResponse">
<part name="parameters" element="tns:getContentViewAtomMembersResponse" />
</message>
<message name="getContentViewRelationMembers">
<part name="parameters" element="tns:getContentViewRelationMembers" />
</message>
<message name="getContentViewRelationMembersResponse">
<part name="parameters" element="tns:getContentViewRelationMembersResponse" />
</message>
<message name="getContentViewConceptMembers">
<part name="parameters" element="tns:getContentViewConceptMembers" />
</message>
<message name="getContentViewConceptMembersResponse">
<part name="parameters" element="tns:getContentViewConceptMembersResponse" />
</message>
<message name="getConceptContentViewMemberships">
<part name="parameters" element="tns:getConceptContentViewMemberships" />
</message>
<message name="getConceptContentViewMembershipsResponse">
<part name="parameters" element="tns:getConceptContentViewMembershipsResponse" />
</message>
<message name="getSubsetSourceConceptMembers">
<part name="parameters" element="tns:getSubsetSourceConceptMembers" />
</message>
<message name="getSubsetSourceConceptMembersResponse">
<part name="parameters" element="tns:getSubsetSourceConceptMembersResponse" />
</message>
<message name="getSubset">
<part name="parameters" element="tns:getSubset" />
</message>
<message name="getSubsetResponse">
<part name="parameters" element="tns:getSubsetResponse" />
</message>
<message name="getSubsetAtomMembers">
<part name="parameters" element="tns:getSubsetAtomMembers" />
</message>
<message name="getSubsetAtomMembersResponse">
<part name="parameters" element="tns:getSubsetAtomMembersResponse" />
</message>
<message name="getSubsetRelationMembers">
<part name="parameters" element="tns:getSubsetRelationMembers" />
</message>
<message name="getSubsetRelationMembersResponse">
<part name="parameters" element="tns:getSubsetRelationMembersResponse" />
</message>
<message name="getVSSources">
<part name="parameters" element="tns:getVSSources" />
</message>
<message name="getVSSourcesResponse">
<part name="parameters" element="tns:getVSSourcesResponse" />
</message>
<message name="resolveVSDetailedAttributeDefinitionEntry">
<part name="parameters" element="tns:resolveVSDetailedAttributeDefinitionEntry" />
</message>
<message name="resolveVSDetailedAttributeDefinitionEntryResponse">
<part name="parameters" element="tns:resolveVSDetailedAttributeDefinitionEntryResponse" />
</message>
<message name="resolveVSDetailedCompleteSourceDefinitionEntry">
<part name="parameters" element="tns:resolveVSDetailedCompleteSourceDefinitionEntry" />
</message>
<message name="resolveVSDetailedCompleteSourceDefinitionEntryResponse">
<part name="parameters" element="tns:resolveVSDetailedCompleteSourceDefinitionEntryResponse" />
</message>
<message name="resolveVSDetailedCompleteValueSetDefinitionEntry">
<part name="parameters" element="tns:resolveVSDetailedCompleteValueSetDefinitionEntry" />
</message>
<message name="resolveVSDetailedCompleteValueSetDefinitionEntryResponse">
<part name="parameters" element="tns:resolveVSDetailedCompleteValueSetDefinitionEntryResponse" />
</message>
<message name="resolveVSDetailedExplicitListDefinitionEntry">
<part name="parameters" element="tns:resolveVSDetailedExplicitListDefinitionEntry" />
</message>
<message name="resolveVSDetailedExplicitListDefinitionEntryResponse">
<part name="parameters" element="tns:resolveVSDetailedExplicitListDefinitionEntryResponse" />
</message>
<message name="resolveVSDetailedRelationDefinitionEntry">
<part name="parameters" element="tns:resolveVSDetailedRelationDefinitionEntry" />
</message>
<message name="resolveVSDetailedRelationDefinitionEntryResponse">
<part name="parameters" element="tns:resolveVSDetailedRelationDefinitionEntryResponse" />
</message>
<message name="resolveVSAttributeDefinitionEntry">
<part name="parameters" element="tns:resolveVSAttributeDefinitionEntry" />
</message>
<message name="resolveVSAttributeDefinitionEntryResponse">
<part name="parameters" element="tns:resolveVSAttributeDefinitionEntryResponse" />
</message>
<message name="resolveVSCompleteSourceDefinitionEntry">
<part name="parameters" element="tns:resolveVSCompleteSourceDefinitionEntry" />
</message>
<message name="resolveVSCompleteSourceDefinitionEntryResponse">
<part name="parameters" element="tns:resolveVSCompleteSourceDefinitionEntryResponse" />
</message>
<message name="resolveVSCompleteValueSetDefinitionEntry">
<part name="parameters" element="tns:resolveVSCompleteValueSetDefinitionEntry" />
</message>
<message name="resolveVSCompleteValueSetDefinitionEntryResponse">
<part name="parameters" element="tns:resolveVSCompleteValueSetDefinitionEntryResponse" />
</message>
<message name="resolveVSExplicitListDefinitionEntry">
<part name="parameters" element="tns:resolveVSExplicitListDefinitionEntry" />
</message>
<message name="resolveVSExplicitListDefinitionEntryResponse">
<part name="parameters" element="tns:resolveVSExplicitListDefinitionEntryResponse" />
</message>
<message name="resolveVSRelationDefinitionEntry">
<part name="parameters" element="tns:resolveVSRelationDefinitionEntry" />
</message>
<message name="resolveVSRelationDefinitionEntryResponse">
<part name="parameters" element="tns:resolveVSRelationDefinitionEntryResponse" />
</message>
<message name="resolveValueSetDefinition">
<part name="parameters" element="tns:resolveValueSetDefinition" />
</message>
<message name="resolveValueSetDefinitionResponse">
<part name="parameters" element="tns:resolveValueSetDefinitionResponse" />
</message>
<message name="resolveVSHierarchicalValueSetDefinitionEntry">
<part name="parameters" element="tns:resolveVSHierarchicalValueSetDefinitionEntry" />
</message>
<message name="resolveVSHierarchicalValueSetDefinitionEntryResponse">
<part name="parameters" element="tns:resolveVSHierarchicalValueSetDefinitionEntryResponse" />
</message>
<portType name="UtsWsContentController">
<operation name="getCode">
<input message="tns:getCode" />
<output message="tns:getCodeResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSourceConcept">
<input message="tns:getSourceConcept" />
<output message="tns:getSourceConceptResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAtomAttributes">
<input message="tns:getAtomAttributes" />
<output message="tns:getAtomAttributesResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getConcept">
<input message="tns:getConcept" />
<output message="tns:getConceptResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAtom">
<input message="tns:getAtom" />
<output message="tns:getAtomResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAtomDefinitions">
<input message="tns:getAtomDefinitions" />
<output message="tns:getAtomDefinitionsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getCodeDefinitions">
<input message="tns:getCodeDefinitions" />
<output message="tns:getCodeDefinitionsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSourceConceptDefinitions">
<input message="tns:getSourceConceptDefinitions" />
<output message="tns:getSourceConceptDefinitionsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSourceDescriptorDefinitions">
<input message="tns:getSourceDescriptorDefinitions" />
<output message="tns:getSourceDescriptorDefinitionsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getDefinitionAttributes">
<input message="tns:getDefinitionAttributes" />
<output message="tns:getDefinitionAttributesResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAtomCodeRelations">
<input message="tns:getAtomCodeRelations" />
<output message="tns:getAtomCodeRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAtomConceptRelations">
<input message="tns:getAtomConceptRelations" />
<output message="tns:getAtomConceptRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAtomContentViewMemberships">
<input message="tns:getAtomContentViewMemberships" />
<output message="tns:getAtomContentViewMembershipsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAtomCooccurrences">
<input message="tns:getAtomCooccurrences" />
<output message="tns:getAtomCooccurrencesResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getCooccurrenceSubheadingFrequencies">
<input message="tns:getCooccurrenceSubheadingFrequencies" />
<output message="tns:getCooccurrenceSubheadingFrequenciesResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAtomAtomRelations">
<input message="tns:getAtomAtomRelations" />
<output message="tns:getAtomAtomRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAtomSourceConceptRelations">
<input message="tns:getAtomSourceConceptRelations" />
<output message="tns:getAtomSourceConceptRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAtomSourceDescriptorRelations">
<input message="tns:getAtomSourceDescriptorRelations" />
<output message="tns:getAtomSourceDescriptorRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAtomSubsetMemberships">
<input message="tns:getAtomSubsetMemberships" />
<output message="tns:getAtomSubsetMembershipsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAtomTreePositions">
<input message="tns:getAtomTreePositions" />
<output message="tns:getAtomTreePositionsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getCodeTreePositions">
<input message="tns:getCodeTreePositions" />
<output message="tns:getCodeTreePositionsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSourceConceptTreePositions">
<input message="tns:getSourceConceptTreePositions" />
<output message="tns:getSourceConceptTreePositionsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSourceDescriptorTreePositions">
<input message="tns:getSourceDescriptorTreePositions" />
<output message="tns:getSourceDescriptorTreePositionsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAtomTreePositionPathsToRoot">
<input message="tns:getAtomTreePositionPathsToRoot" />
<output message="tns:getAtomTreePositionPathsToRootResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getCodeTreePositionPathsToRoot">
<input message="tns:getCodeTreePositionPathsToRoot" />
<output message="tns:getCodeTreePositionPathsToRootResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSourceConceptTreePositionPathsToRoot">
<input message="tns:getSourceConceptTreePositionPathsToRoot" />
<output message="tns:getSourceConceptTreePositionPathsToRootResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSourceDescriptorTreePositionPathsToRoot">
<input message="tns:getSourceDescriptorTreePositionPathsToRoot" />
<output message="tns:getSourceDescriptorTreePositionPathsToRootResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAtomTreePositionChildren">
<input message="tns:getAtomTreePositionChildren" />
<output message="tns:getAtomTreePositionChildrenResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getCodeTreePositionChildren">
<input message="tns:getCodeTreePositionChildren" />
<output message="tns:getCodeTreePositionChildrenResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSourceConceptTreePositionChildren">
<input message="tns:getSourceConceptTreePositionChildren" />
<output message="tns:getSourceConceptTreePositionChildrenResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSourceDescriptorTreePositionChildren">
<input message="tns:getSourceDescriptorTreePositionChildren" />
<output message="tns:getSourceDescriptorTreePositionChildrenResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAtomTreePositionSiblings">
<input message="tns:getAtomTreePositionSiblings" />
<output message="tns:getAtomTreePositionSiblingsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getCodeTreePositionSiblings">
<input message="tns:getCodeTreePositionSiblings" />
<output message="tns:getCodeTreePositionSiblingsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSourceConceptTreePositionSiblings">
<input message="tns:getSourceConceptTreePositionSiblings" />
<output message="tns:getSourceConceptTreePositionSiblingsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSourceDescriptorTreePositionSiblings">
<input message="tns:getSourceDescriptorTreePositionSiblings" />
<output message="tns:getSourceDescriptorTreePositionSiblingsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getCodeAtomRelations">
<input message="tns:getCodeAtomRelations" />
<output message="tns:getCodeAtomRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getCodeAtoms">
<input message="tns:getCodeAtoms" />
<output message="tns:getCodeAtomsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getCodeAttributes">
<input message="tns:getCodeAttributes" />
<output message="tns:getCodeAttributesResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getCodeCodeRelations">
<input message="tns:getCodeCodeRelations" />
<output message="tns:getCodeCodeRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getCodeSourceConceptRelations">
<input message="tns:getCodeSourceConceptRelations" />
<output message="tns:getCodeSourceConceptRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getCodeSourceDescriptorRelations">
<input message="tns:getCodeSourceDescriptorRelations" />
<output message="tns:getCodeSourceDescriptorRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getConceptAtomRelations">
<input message="tns:getConceptAtomRelations" />
<output message="tns:getConceptAtomRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getConceptAtoms">
<input message="tns:getConceptAtoms" />
<output message="tns:getConceptAtomsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getConceptConceptRelations">
<input message="tns:getConceptConceptRelations" />
<output message="tns:getConceptConceptRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getConceptAttributes">
<input message="tns:getConceptAttributes" />
<output message="tns:getConceptAttributesResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getContentViewAttributes">
<input message="tns:getContentViewAttributes" />
<output message="tns:getContentViewAttributesResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getContentViewMemberAttributes">
<input message="tns:getContentViewMemberAttributes" />
<output message="tns:getContentViewMemberAttributesResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getDefaultPreferredAtom">
<input message="tns:getDefaultPreferredAtom" />
<output message="tns:getDefaultPreferredAtomResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getTerm">
<input message="tns:getTerm" />
<output message="tns:getTermResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getTermAtoms">
<input message="tns:getTermAtoms" />
<output message="tns:getTermAtomsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getMapObjectAttributes">
<input message="tns:getMapObjectAttributes" />
<output message="tns:getMapObjectAttributesResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getMapObjectFromMapping">
<input message="tns:getMapObjectFromMapping" />
<output message="tns:getMapObjectFromMappingResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getMapObjectToMapping">
<input message="tns:getMapObjectToMapping" />
<output message="tns:getMapObjectToMappingResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getMappingAttributes">
<input message="tns:getMappingAttributes" />
<output message="tns:getMappingAttributesResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getMappings">
<input message="tns:getMappings" />
<output message="tns:getMappingsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getMapSetAttributes">
<input message="tns:getMapSetAttributes" />
<output message="tns:getMapSetAttributesResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getMapsets">
<input message="tns:getMapsets" />
<output message="tns:getMapsetsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getRelationAttributes">
<input message="tns:getRelationAttributes" />
<output message="tns:getRelationAttributesResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getRelationContentViewMemberships">
<input message="tns:getRelationContentViewMemberships" />
<output message="tns:getRelationContentViewMembershipsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getRelationRelations">
<input message="tns:getRelationRelations" />
<output message="tns:getRelationRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getRelationSubsetMemberships">
<input message="tns:getRelationSubsetMemberships" />
<output message="tns:getRelationSubsetMembershipsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getRootAtomTreePositions">
<input message="tns:getRootAtomTreePositions" />
<output message="tns:getRootAtomTreePositionsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getRootCodeTreePositions">
<input message="tns:getRootCodeTreePositions" />
<output message="tns:getRootCodeTreePositionsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getRootSourceConceptTreePositions">
<input message="tns:getRootSourceConceptTreePositions" />
<output message="tns:getRootSourceConceptTreePositionsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getRootSourceDescriptorTreePositions">
<input message="tns:getRootSourceDescriptorTreePositions" />
<output message="tns:getRootSourceDescriptorTreePositionsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSourceConceptAtomRelations">
<input message="tns:getSourceConceptAtomRelations" />
<output message="tns:getSourceConceptAtomRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSourceConceptAtoms">
<input message="tns:getSourceConceptAtoms" />
<output message="tns:getSourceConceptAtomsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSourceConceptAttributes">
<input message="tns:getSourceConceptAttributes" />
<output message="tns:getSourceConceptAttributesResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSourceConceptCodeRelations">
<input message="tns:getSourceConceptCodeRelations" />
<output message="tns:getSourceConceptCodeRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSourceConceptContentViewMemberships">
<input message="tns:getSourceConceptContentViewMemberships" />
<output message="tns:getSourceConceptContentViewMembershipsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSourceConceptSourceConceptRelations">
<input message="tns:getSourceConceptSourceConceptRelations" />
<output message="tns:getSourceConceptSourceConceptRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSourceConceptSourceDescriptorRelations">
<input message="tns:getSourceConceptSourceDescriptorRelations" />
<output message="tns:getSourceConceptSourceDescriptorRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSourceConceptSubsetMemberships">
<input message="tns:getSourceConceptSubsetMemberships" />
<output message="tns:getSourceConceptSubsetMembershipsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSourceDescriptor">
<input message="tns:getSourceDescriptor" />
<output message="tns:getSourceDescriptorResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSourceDescriptorAtomRelations">
<input message="tns:getSourceDescriptorAtomRelations" />
<output message="tns:getSourceDescriptorAtomRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSourceDescriptorAtoms">
<input message="tns:getSourceDescriptorAtoms" />
<output message="tns:getSourceDescriptorAtomsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSourceDescriptorAttributes">
<input message="tns:getSourceDescriptorAttributes" />
<output message="tns:getSourceDescriptorAttributesResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSourceDescriptorCodeRelations">
<input message="tns:getSourceDescriptorCodeRelations" />
<output message="tns:getSourceDescriptorCodeRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSourceDescriptorSourceConceptRelations">
<input message="tns:getSourceDescriptorSourceConceptRelations" />
<output message="tns:getSourceDescriptorSourceConceptRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSourceDescriptorSourceDescriptorRelations">
<input message="tns:getSourceDescriptorSourceDescriptorRelations" />
<output message="tns:getSourceDescriptorSourceDescriptorRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getTermString">
<input message="tns:getTermString" />
<output message="tns:getTermStringResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getTermStringAtoms">
<input message="tns:getTermStringAtoms" />
<output message="tns:getTermStringAtomsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getTermStrings">
<input message="tns:getTermStrings" />
<output message="tns:getTermStringsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSubsetAttributes">
<input message="tns:getSubsetAttributes" />
<output message="tns:getSubsetAttributesResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSubsetMemberAttributes">
<input message="tns:getSubsetMemberAttributes" />
<output message="tns:getSubsetMemberAttributesResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSubsets">
<input message="tns:getSubsets" />
<output message="tns:getSubsetsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getContentViews">
<input message="tns:getContentViews" />
<output message="tns:getContentViewsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getContentView">
<input message="tns:getContentView" />
<output message="tns:getContentViewResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getContentViewSourceConceptMembers">
<input message="tns:getContentViewSourceConceptMembers" />
<output message="tns:getContentViewSourceConceptMembersResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getContentViewAtomMembers">
<input message="tns:getContentViewAtomMembers" />
<output message="tns:getContentViewAtomMembersResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getContentViewRelationMembers">
<input message="tns:getContentViewRelationMembers" />
<output message="tns:getContentViewRelationMembersResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getContentViewConceptMembers">
<input message="tns:getContentViewConceptMembers" />
<output message="tns:getContentViewConceptMembersResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getConceptContentViewMemberships">
<input message="tns:getConceptContentViewMemberships" />
<output message="tns:getConceptContentViewMembershipsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSubsetSourceConceptMembers">
<input message="tns:getSubsetSourceConceptMembers" />
<output message="tns:getSubsetSourceConceptMembersResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSubset">
<input message="tns:getSubset" />
<output message="tns:getSubsetResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSubsetAtomMembers">
<input message="tns:getSubsetAtomMembers" />
<output message="tns:getSubsetAtomMembersResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSubsetRelationMembers">
<input message="tns:getSubsetRelationMembers" />
<output message="tns:getSubsetRelationMembersResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getVSSources">
<input message="tns:getVSSources" />
<output message="tns:getVSSourcesResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="resolveVSDetailedAttributeDefinitionEntry">
<input message="tns:resolveVSDetailedAttributeDefinitionEntry" />
<output message="tns:resolveVSDetailedAttributeDefinitionEntryResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="resolveVSDetailedCompleteSourceDefinitionEntry">
<input message="tns:resolveVSDetailedCompleteSourceDefinitionEntry" />
<output message="tns:resolveVSDetailedCompleteSourceDefinitionEntryResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="resolveVSDetailedCompleteValueSetDefinitionEntry">
<input message="tns:resolveVSDetailedCompleteValueSetDefinitionEntry" />
<output message="tns:resolveVSDetailedCompleteValueSetDefinitionEntryResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="resolveVSDetailedExplicitListDefinitionEntry">
<input message="tns:resolveVSDetailedExplicitListDefinitionEntry" />
<output message="tns:resolveVSDetailedExplicitListDefinitionEntryResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="resolveVSDetailedRelationDefinitionEntry">
<input message="tns:resolveVSDetailedRelationDefinitionEntry" />
<output message="tns:resolveVSDetailedRelationDefinitionEntryResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="resolveVSAttributeDefinitionEntry">
<input message="tns:resolveVSAttributeDefinitionEntry" />
<output message="tns:resolveVSAttributeDefinitionEntryResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="resolveVSCompleteSourceDefinitionEntry">
<input message="tns:resolveVSCompleteSourceDefinitionEntry" />
<output message="tns:resolveVSCompleteSourceDefinitionEntryResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="resolveVSCompleteValueSetDefinitionEntry">
<input message="tns:resolveVSCompleteValueSetDefinitionEntry" />
<output message="tns:resolveVSCompleteValueSetDefinitionEntryResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="resolveVSExplicitListDefinitionEntry">
<input message="tns:resolveVSExplicitListDefinitionEntry" />
<output message="tns:resolveVSExplicitListDefinitionEntryResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="resolveVSRelationDefinitionEntry">
<input message="tns:resolveVSRelationDefinitionEntry" />
<output message="tns:resolveVSRelationDefinitionEntryResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="resolveValueSetDefinition">
<input message="tns:resolveValueSetDefinition" />
<output message="tns:resolveValueSetDefinitionResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="resolveVSHierarchicalValueSetDefinitionEntry">
<input message="tns:resolveVSHierarchicalValueSetDefinitionEntry" />
<output message="tns:resolveVSHierarchicalValueSetDefinitionEntryResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
</portType>
<binding name="UtsWsContentControllerImplPortBinding" type="tns:UtsWsContentController">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getCode">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSourceConcept">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAtomAttributes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getConcept">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAtom">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAtomDefinitions">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getCodeDefinitions">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSourceConceptDefinitions">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSourceDescriptorDefinitions">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getDefinitionAttributes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAtomCodeRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAtomConceptRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAtomContentViewMemberships">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAtomCooccurrences">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getCooccurrenceSubheadingFrequencies">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAtomAtomRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAtomSourceConceptRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAtomSourceDescriptorRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAtomSubsetMemberships">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAtomTreePositions">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getCodeTreePositions">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSourceConceptTreePositions">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSourceDescriptorTreePositions">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAtomTreePositionPathsToRoot">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getCodeTreePositionPathsToRoot">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSourceConceptTreePositionPathsToRoot">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSourceDescriptorTreePositionPathsToRoot">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAtomTreePositionChildren">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getCodeTreePositionChildren">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSourceConceptTreePositionChildren">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSourceDescriptorTreePositionChildren">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAtomTreePositionSiblings">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getCodeTreePositionSiblings">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSourceConceptTreePositionSiblings">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSourceDescriptorTreePositionSiblings">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getCodeAtomRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getCodeAtoms">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getCodeAttributes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getCodeCodeRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getCodeSourceConceptRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getCodeSourceDescriptorRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getConceptAtomRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getConceptAtoms">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getConceptConceptRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getConceptAttributes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getContentViewAttributes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getContentViewMemberAttributes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getDefaultPreferredAtom">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getTerm">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getTermAtoms">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getMapObjectAttributes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getMapObjectFromMapping">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getMapObjectToMapping">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getMappingAttributes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getMappings">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getMapSetAttributes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getMapsets">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getRelationAttributes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getRelationContentViewMemberships">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getRelationRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getRelationSubsetMemberships">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getRootAtomTreePositions">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getRootCodeTreePositions">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getRootSourceConceptTreePositions">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getRootSourceDescriptorTreePositions">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSourceConceptAtomRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSourceConceptAtoms">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSourceConceptAttributes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSourceConceptCodeRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSourceConceptContentViewMemberships">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSourceConceptSourceConceptRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSourceConceptSourceDescriptorRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSourceConceptSubsetMemberships">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSourceDescriptor">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSourceDescriptorAtomRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSourceDescriptorAtoms">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSourceDescriptorAttributes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSourceDescriptorCodeRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSourceDescriptorSourceConceptRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSourceDescriptorSourceDescriptorRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getTermString">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getTermStringAtoms">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getTermStrings">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSubsetAttributes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSubsetMemberAttributes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSubsets">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getContentViews">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getContentView">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getContentViewSourceConceptMembers">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getContentViewAtomMembers">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getContentViewRelationMembers">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getContentViewConceptMembers">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getConceptContentViewMemberships">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSubsetSourceConceptMembers">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSubset">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSubsetAtomMembers">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSubsetRelationMembers">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getVSSources">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="resolveVSDetailedAttributeDefinitionEntry">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="resolveVSDetailedCompleteSourceDefinitionEntry">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="resolveVSDetailedCompleteValueSetDefinitionEntry">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="resolveVSDetailedExplicitListDefinitionEntry">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="resolveVSDetailedRelationDefinitionEntry">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="resolveVSAttributeDefinitionEntry">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="resolveVSCompleteSourceDefinitionEntry">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="resolveVSCompleteValueSetDefinitionEntry">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="resolveVSExplicitListDefinitionEntry">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="resolveVSRelationDefinitionEntry">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="resolveValueSetDefinition">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="resolveVSHierarchicalValueSetDefinitionEntry">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
</binding>
<service name="UtsWsContentControllerImplService">
<port name="UtsWsContentControllerImplPort" binding="tns:UtsWsContentControllerImplPortBinding">
<soap:address location="https://uts-ws.nlm.nih.gov:443/services/nwsContent" />
</port>
</service>
</definitions>