src/main/resources/wsdl/nwsFinder.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.uts.umls.nlm.nih.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.uts.umls.nlm.nih.gov/" name="UtsWsFinderControllerImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.uts.umls.nlm.nih.gov/" schemaLocation="https://uts-ws.nlm.nih.gov:443/services/nwsFinder?xsd=1" />
</xsd:schema>
</types>
<message name="getCount">
<part name="parameters" element="tns:getCount" />
</message>
<message name="getCountResponse">
<part name="parameters" element="tns:getCountResponse" />
</message>
<message name="UtsFault">
<part name="fault" element="tns:UtsFault" />
</message>
<message name="findConcepts">
<part name="parameters" element="tns:findConcepts" />
</message>
<message name="findConceptsResponse">
<part name="parameters" element="tns:findConceptsResponse" />
</message>
<message name="findAtoms">
<part name="parameters" element="tns:findAtoms" />
</message>
<message name="findAtomsResponse">
<part name="parameters" element="tns:findAtomsResponse" />
</message>
<message name="findCodes">
<part name="parameters" element="tns:findCodes" />
</message>
<message name="findCodesResponse">
<part name="parameters" element="tns:findCodesResponse" />
</message>
<message name="findSourceConcepts">
<part name="parameters" element="tns:findSourceConcepts" />
</message>
<message name="findSourceConceptsResponse">
<part name="parameters" element="tns:findSourceConceptsResponse" />
</message>
<message name="findSourceDescriptors">
<part name="parameters" element="tns:findSourceDescriptors" />
</message>
<message name="findSourceDescriptorsResponse">
<part name="parameters" element="tns:findSourceDescriptorsResponse" />
</message>
<portType name="UtsWsFinderController">
<operation name="getCount">
<input message="tns:getCount" />
<output message="tns:getCountResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="findConcepts">
<input message="tns:findConcepts" />
<output message="tns:findConceptsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="findAtoms">
<input message="tns:findAtoms" />
<output message="tns:findAtomsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="findCodes">
<input message="tns:findCodes" />
<output message="tns:findCodesResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="findSourceConcepts">
<input message="tns:findSourceConcepts" />
<output message="tns:findSourceConceptsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="findSourceDescriptors">
<input message="tns:findSourceDescriptors" />
<output message="tns:findSourceDescriptorsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
</portType>
<binding name="UtsWsFinderControllerImplPortBinding" type="tns:UtsWsFinderController">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getCount">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="findConcepts">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="findAtoms">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="findCodes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="findSourceConcepts">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="findSourceDescriptors">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
</binding>
<service name="UtsWsFinderControllerImplService">
<port name="UtsWsFinderControllerImplPort" binding="tns:UtsWsFinderControllerImplPortBinding">
<soap:address location="https://uts-ws.nlm.nih.gov:443/services/nwsFinder" />
</port>
</service>
</definitions>