src/main/resources/wsdl/nwsHistory.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.uts.umls.nlm.nih.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.uts.umls.nlm.nih.gov/" name="UtsWsHistoryControllerImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.uts.umls.nlm.nih.gov/" schemaLocation="https://uts-ws.nlm.nih.gov:443/services/nwsHistory?xsd=1" />
</xsd:schema>
</types>
<message name="getAtomMovements">
<part name="parameters" element="tns:getAtomMovements" />
</message>
<message name="getAtomMovementsResponse">
<part name="parameters" element="tns:getAtomMovementsResponse" />
</message>
<message name="UtsFault">
<part name="fault" element="tns:UtsFault" />
</message>
<message name="getBequeathedToConceptCuis">
<part name="parameters" element="tns:getBequeathedToConceptCuis" />
</message>
<message name="getBequeathedToConceptCuisResponse">
<part name="parameters" element="tns:getBequeathedToConceptCuisResponse" />
</message>
<message name="getConceptBequeathals">
<part name="parameters" element="tns:getConceptBequeathals" />
</message>
<message name="getConceptBequeathalsResponse">
<part name="parameters" element="tns:getConceptBequeathalsResponse" />
</message>
<message name="getConceptDeletions">
<part name="parameters" element="tns:getConceptDeletions" />
</message>
<message name="getConceptDeletionsResponse">
<part name="parameters" element="tns:getConceptDeletionsResponse" />
</message>
<message name="getConceptMerges">
<part name="parameters" element="tns:getConceptMerges" />
</message>
<message name="getConceptMergesResponse">
<part name="parameters" element="tns:getConceptMergesResponse" />
</message>
<message name="getTermMerges">
<part name="parameters" element="tns:getTermMerges" />
</message>
<message name="getTermMergesResponse">
<part name="parameters" element="tns:getTermMergesResponse" />
</message>
<message name="getMergedToConceptCui">
<part name="parameters" element="tns:getMergedToConceptCui" />
</message>
<message name="getMergedToConceptCuiResponse">
<part name="parameters" element="tns:getMergedToConceptCuiResponse" />
</message>
<message name="getMergedToTermUi">
<part name="parameters" element="tns:getMergedToTermUi" />
</message>
<message name="getMergedToTermUiResponse">
<part name="parameters" element="tns:getMergedToTermUiResponse" />
</message>
<message name="getMovedToConceptCui">
<part name="parameters" element="tns:getMovedToConceptCui" />
</message>
<message name="getMovedToConceptCuiResponse">
<part name="parameters" element="tns:getMovedToConceptCuiResponse" />
</message>
<message name="getSourceAtomChanges">
<part name="parameters" element="tns:getSourceAtomChanges" />
</message>
<message name="getSourceAtomChangesResponse">
<part name="parameters" element="tns:getSourceAtomChangesResponse" />
</message>
<message name="getTermDeletions">
<part name="parameters" element="tns:getTermDeletions" />
</message>
<message name="getTermDeletionsResponse">
<part name="parameters" element="tns:getTermDeletionsResponse" />
</message>
<message name="getTermStringDeletions">
<part name="parameters" element="tns:getTermStringDeletions" />
</message>
<message name="getTermStringDeletionsResponse">
<part name="parameters" element="tns:getTermStringDeletionsResponse" />
</message>
<portType name="UtsWsHistoryController">
<operation name="getAtomMovements">
<input message="tns:getAtomMovements" />
<output message="tns:getAtomMovementsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getBequeathedToConceptCuis">
<input message="tns:getBequeathedToConceptCuis" />
<output message="tns:getBequeathedToConceptCuisResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getConceptBequeathals">
<input message="tns:getConceptBequeathals" />
<output message="tns:getConceptBequeathalsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getConceptDeletions">
<input message="tns:getConceptDeletions" />
<output message="tns:getConceptDeletionsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getConceptMerges">
<input message="tns:getConceptMerges" />
<output message="tns:getConceptMergesResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getTermMerges">
<input message="tns:getTermMerges" />
<output message="tns:getTermMergesResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getMergedToConceptCui">
<input message="tns:getMergedToConceptCui" />
<output message="tns:getMergedToConceptCuiResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getMergedToTermUi">
<input message="tns:getMergedToTermUi" />
<output message="tns:getMergedToTermUiResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getMovedToConceptCui">
<input message="tns:getMovedToConceptCui" />
<output message="tns:getMovedToConceptCuiResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSourceAtomChanges">
<input message="tns:getSourceAtomChanges" />
<output message="tns:getSourceAtomChangesResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getTermDeletions">
<input message="tns:getTermDeletions" />
<output message="tns:getTermDeletionsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getTermStringDeletions">
<input message="tns:getTermStringDeletions" />
<output message="tns:getTermStringDeletionsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
</portType>
<binding name="UtsWsHistoryControllerImplPortBinding" type="tns:UtsWsHistoryController">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getAtomMovements">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getBequeathedToConceptCuis">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getConceptBequeathals">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getConceptDeletions">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getConceptMerges">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getTermMerges">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getMergedToConceptCui">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getMergedToTermUi">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getMovedToConceptCui">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSourceAtomChanges">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getTermDeletions">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getTermStringDeletions">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
</binding>
<service name="UtsWsHistoryControllerImplService">
<port name="UtsWsHistoryControllerImplPort" binding="tns:UtsWsHistoryControllerImplPortBinding">
<soap:address location="https://uts-ws.nlm.nih.gov:443/services/nwsHistory" />
</port>
</service>
</definitions>