src/main/resources/wsdl/nwsMetadata.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.uts.umls.nlm.nih.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.uts.umls.nlm.nih.gov/" name="UtsWsMetadataControllerImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.uts.umls.nlm.nih.gov/" schemaLocation="https://uts-ws.nlm.nih.gov:443/services/nwsMetadata?xsd=1" />
</xsd:schema>
</types>
<message name="getLanguage">
<part name="parameters" element="tns:getLanguage" />
</message>
<message name="getLanguageResponse">
<part name="parameters" element="tns:getLanguageResponse" />
</message>
<message name="UtsFault">
<part name="fault" element="tns:UtsFault" />
</message>
<message name="getSource">
<part name="parameters" element="tns:getSource" />
</message>
<message name="getSourceResponse">
<part name="parameters" element="tns:getSourceResponse" />
</message>
<message name="getAttributeName">
<part name="parameters" element="tns:getAttributeName" />
</message>
<message name="getAttributeNameResponse">
<part name="parameters" element="tns:getAttributeNameResponse" />
</message>
<message name="getRootSource">
<part name="parameters" element="tns:getRootSource" />
</message>
<message name="getRootSourceResponse">
<part name="parameters" element="tns:getRootSourceResponse" />
</message>
<message name="getRelationLabel">
<part name="parameters" element="tns:getRelationLabel" />
</message>
<message name="getRelationLabelResponse">
<part name="parameters" element="tns:getRelationLabelResponse" />
</message>
<message name="getAdditionalRelationLabel">
<part name="parameters" element="tns:getAdditionalRelationLabel" />
</message>
<message name="getAdditionalRelationLabelResponse">
<part name="parameters" element="tns:getAdditionalRelationLabelResponse" />
</message>
<message name="getTermType">
<part name="parameters" element="tns:getTermType" />
</message>
<message name="getTermTypeResponse">
<part name="parameters" element="tns:getTermTypeResponse" />
</message>
<message name="getAcquisitionContactInformation">
<part name="parameters" element="tns:getAcquisitionContactInformation" />
</message>
<message name="getAcquisitionContactInformationResponse">
<part name="parameters" element="tns:getAcquisitionContactInformationResponse" />
</message>
<message name="getCharacterSet">
<part name="parameters" element="tns:getCharacterSet" />
</message>
<message name="getCharacterSetResponse">
<part name="parameters" element="tns:getCharacterSetResponse" />
</message>
<message name="getContentContactInformation">
<part name="parameters" element="tns:getContentContactInformation" />
</message>
<message name="getContentContactInformationResponse">
<part name="parameters" element="tns:getContentContactInformationResponse" />
</message>
<message name="getCooccurrenceType">
<part name="parameters" element="tns:getCooccurrenceType" />
</message>
<message name="getCooccurrenceTypeResponse">
<part name="parameters" element="tns:getCooccurrenceTypeResponse" />
</message>
<message name="getCurrentVersionSource">
<part name="parameters" element="tns:getCurrentVersionSource" />
</message>
<message name="getCurrentVersionSourceResponse">
<part name="parameters" element="tns:getCurrentVersionSourceResponse" />
</message>
<message name="getGeneralMetadataEntry">
<part name="parameters" element="tns:getGeneralMetadataEntry" />
</message>
<message name="getGeneralMetadataEntryResponse">
<part name="parameters" element="tns:getGeneralMetadataEntryResponse" />
</message>
<message name="getIdentifierType">
<part name="parameters" element="tns:getIdentifierType" />
</message>
<message name="getIdentifierTypeResponse">
<part name="parameters" element="tns:getIdentifierTypeResponse" />
</message>
<message name="getLicenseContactInformation">
<part name="parameters" element="tns:getLicenseContactInformation" />
</message>
<message name="getLicenseContactInformationResponse">
<part name="parameters" element="tns:getLicenseContactInformationResponse" />
</message>
<message name="getRootSourceSynonymousNames">
<part name="parameters" element="tns:getRootSourceSynonymousNames" />
</message>
<message name="getRootSourceSynonymousNamesResponse">
<part name="parameters" element="tns:getRootSourceSynonymousNamesResponse" />
</message>
<message name="getSourceAttributeName">
<part name="parameters" element="tns:getSourceAttributeName" />
</message>
<message name="getSourceAttributeNameResponse">
<part name="parameters" element="tns:getSourceAttributeNameResponse" />
</message>
<message name="getSourceCitation">
<part name="parameters" element="tns:getSourceCitation" />
</message>
<message name="getSourceCitationResponse">
<part name="parameters" element="tns:getSourceCitationResponse" />
</message>
<message name="getSourceRelationLabel">
<part name="parameters" element="tns:getSourceRelationLabel" />
</message>
<message name="getSourceRelationLabelResponse">
<part name="parameters" element="tns:getSourceRelationLabelResponse" />
</message>
<message name="getSourceTermType">
<part name="parameters" element="tns:getSourceTermType" />
</message>
<message name="getSourceTermTypeResponse">
<part name="parameters" element="tns:getSourceTermTypeResponse" />
</message>
<message name="getSubEquivalentAttributeNames">
<part name="parameters" element="tns:getSubEquivalentAttributeNames" />
</message>
<message name="getSubEquivalentAttributeNamesResponse">
<part name="parameters" element="tns:getSubEquivalentAttributeNamesResponse" />
</message>
<message name="getSubheading">
<part name="parameters" element="tns:getSubheading" />
</message>
<message name="getSubheadingResponse">
<part name="parameters" element="tns:getSubheadingResponse" />
</message>
<message name="getAllAdditionalRelationLabels">
<part name="parameters" element="tns:getAllAdditionalRelationLabels" />
</message>
<message name="getAllAdditionalRelationLabelsResponse">
<part name="parameters" element="tns:getAllAdditionalRelationLabelsResponse" />
</message>
<message name="getAllAttributeNames">
<part name="parameters" element="tns:getAllAttributeNames" />
</message>
<message name="getAllAttributeNamesResponse">
<part name="parameters" element="tns:getAllAttributeNamesResponse" />
</message>
<message name="getAllCharacterSets">
<part name="parameters" element="tns:getAllCharacterSets" />
</message>
<message name="getAllCharacterSetsResponse">
<part name="parameters" element="tns:getAllCharacterSetsResponse" />
</message>
<message name="getAllCooccurrenceTypes">
<part name="parameters" element="tns:getAllCooccurrenceTypes" />
</message>
<message name="getAllCooccurrenceTypesResponse">
<part name="parameters" element="tns:getAllCooccurrenceTypesResponse" />
</message>
<message name="getAllEquivalentAttributeNames">
<part name="parameters" element="tns:getAllEquivalentAttributeNames" />
</message>
<message name="getAllEquivalentAttributeNamesResponse">
<part name="parameters" element="tns:getAllEquivalentAttributeNamesResponse" />
</message>
<message name="getAllLanguages">
<part name="parameters" element="tns:getAllLanguages" />
</message>
<message name="getAllLanguagesResponse">
<part name="parameters" element="tns:getAllLanguagesResponse" />
</message>
<message name="getAllRelationLabels">
<part name="parameters" element="tns:getAllRelationLabels" />
</message>
<message name="getAllRelationLabelsResponse">
<part name="parameters" element="tns:getAllRelationLabelsResponse" />
</message>
<message name="getAllRootSources">
<part name="parameters" element="tns:getAllRootSources" />
</message>
<message name="getAllRootSourcesResponse">
<part name="parameters" element="tns:getAllRootSourcesResponse" />
</message>
<message name="getAllSourceAttributeNames">
<part name="parameters" element="tns:getAllSourceAttributeNames" />
</message>
<message name="getAllSourceAttributeNamesResponse">
<part name="parameters" element="tns:getAllSourceAttributeNamesResponse" />
</message>
<message name="getAllSourceCitations">
<part name="parameters" element="tns:getAllSourceCitations" />
</message>
<message name="getAllSourceCitationsResponse">
<part name="parameters" element="tns:getAllSourceCitationsResponse" />
</message>
<message name="getAllSourceRelationLabels">
<part name="parameters" element="tns:getAllSourceRelationLabels" />
</message>
<message name="getAllSourceRelationLabelsResponse">
<part name="parameters" element="tns:getAllSourceRelationLabelsResponse" />
</message>
<message name="getAllSources">
<part name="parameters" element="tns:getAllSources" />
</message>
<message name="getAllSourcesResponse">
<part name="parameters" element="tns:getAllSourcesResponse" />
</message>
<message name="getAllSourceTermTypes">
<part name="parameters" element="tns:getAllSourceTermTypes" />
</message>
<message name="getAllSourceTermTypesResponse">
<part name="parameters" element="tns:getAllSourceTermTypesResponse" />
</message>
<message name="getAllSubheadings">
<part name="parameters" element="tns:getAllSubheadings" />
</message>
<message name="getAllSubheadingsResponse">
<part name="parameters" element="tns:getAllSubheadingsResponse" />
</message>
<message name="getAllSuperAttributeNames">
<part name="parameters" element="tns:getAllSuperAttributeNames" />
</message>
<message name="getAllSuperAttributeNamesResponse">
<part name="parameters" element="tns:getAllSuperAttributeNamesResponse" />
</message>
<message name="getAllTermTypes">
<part name="parameters" element="tns:getAllTermTypes" />
</message>
<message name="getAllTermTypesResponse">
<part name="parameters" element="tns:getAllTermTypesResponse" />
</message>
<message name="getVersionedSources">
<part name="parameters" element="tns:getVersionedSources" />
</message>
<message name="getVersionedSourcesResponse">
<part name="parameters" element="tns:getVersionedSourcesResponse" />
</message>
<portType name="UtsWsMetadataController">
<operation name="getLanguage">
<input message="tns:getLanguage" />
<output message="tns:getLanguageResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSource">
<input message="tns:getSource" />
<output message="tns:getSourceResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAttributeName">
<input message="tns:getAttributeName" />
<output message="tns:getAttributeNameResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getRootSource">
<input message="tns:getRootSource" />
<output message="tns:getRootSourceResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getRelationLabel">
<input message="tns:getRelationLabel" />
<output message="tns:getRelationLabelResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAdditionalRelationLabel">
<input message="tns:getAdditionalRelationLabel" />
<output message="tns:getAdditionalRelationLabelResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getTermType">
<input message="tns:getTermType" />
<output message="tns:getTermTypeResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAcquisitionContactInformation">
<input message="tns:getAcquisitionContactInformation" />
<output message="tns:getAcquisitionContactInformationResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getCharacterSet">
<input message="tns:getCharacterSet" />
<output message="tns:getCharacterSetResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getContentContactInformation">
<input message="tns:getContentContactInformation" />
<output message="tns:getContentContactInformationResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getCooccurrenceType">
<input message="tns:getCooccurrenceType" />
<output message="tns:getCooccurrenceTypeResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getCurrentVersionSource">
<input message="tns:getCurrentVersionSource" />
<output message="tns:getCurrentVersionSourceResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getGeneralMetadataEntry">
<input message="tns:getGeneralMetadataEntry" />
<output message="tns:getGeneralMetadataEntryResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getIdentifierType">
<input message="tns:getIdentifierType" />
<output message="tns:getIdentifierTypeResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getLicenseContactInformation">
<input message="tns:getLicenseContactInformation" />
<output message="tns:getLicenseContactInformationResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getRootSourceSynonymousNames">
<input message="tns:getRootSourceSynonymousNames" />
<output message="tns:getRootSourceSynonymousNamesResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSourceAttributeName">
<input message="tns:getSourceAttributeName" />
<output message="tns:getSourceAttributeNameResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSourceCitation">
<input message="tns:getSourceCitation" />
<output message="tns:getSourceCitationResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSourceRelationLabel">
<input message="tns:getSourceRelationLabel" />
<output message="tns:getSourceRelationLabelResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSourceTermType">
<input message="tns:getSourceTermType" />
<output message="tns:getSourceTermTypeResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSubEquivalentAttributeNames">
<input message="tns:getSubEquivalentAttributeNames" />
<output message="tns:getSubEquivalentAttributeNamesResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSubheading">
<input message="tns:getSubheading" />
<output message="tns:getSubheadingResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAllAdditionalRelationLabels">
<input message="tns:getAllAdditionalRelationLabels" />
<output message="tns:getAllAdditionalRelationLabelsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAllAttributeNames">
<input message="tns:getAllAttributeNames" />
<output message="tns:getAllAttributeNamesResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAllCharacterSets">
<input message="tns:getAllCharacterSets" />
<output message="tns:getAllCharacterSetsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAllCooccurrenceTypes">
<input message="tns:getAllCooccurrenceTypes" />
<output message="tns:getAllCooccurrenceTypesResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAllEquivalentAttributeNames">
<input message="tns:getAllEquivalentAttributeNames" />
<output message="tns:getAllEquivalentAttributeNamesResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAllLanguages">
<input message="tns:getAllLanguages" />
<output message="tns:getAllLanguagesResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAllRelationLabels">
<input message="tns:getAllRelationLabels" />
<output message="tns:getAllRelationLabelsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAllRootSources">
<input message="tns:getAllRootSources" />
<output message="tns:getAllRootSourcesResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAllSourceAttributeNames">
<input message="tns:getAllSourceAttributeNames" />
<output message="tns:getAllSourceAttributeNamesResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAllSourceCitations">
<input message="tns:getAllSourceCitations" />
<output message="tns:getAllSourceCitationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAllSourceRelationLabels">
<input message="tns:getAllSourceRelationLabels" />
<output message="tns:getAllSourceRelationLabelsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAllSources">
<input message="tns:getAllSources" />
<output message="tns:getAllSourcesResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAllSourceTermTypes">
<input message="tns:getAllSourceTermTypes" />
<output message="tns:getAllSourceTermTypesResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAllSubheadings">
<input message="tns:getAllSubheadings" />
<output message="tns:getAllSubheadingsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAllSuperAttributeNames">
<input message="tns:getAllSuperAttributeNames" />
<output message="tns:getAllSuperAttributeNamesResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAllTermTypes">
<input message="tns:getAllTermTypes" />
<output message="tns:getAllTermTypesResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getVersionedSources">
<input message="tns:getVersionedSources" />
<output message="tns:getVersionedSourcesResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
</portType>
<binding name="UtsWsMetadataControllerImplPortBinding" type="tns:UtsWsMetadataController">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getLanguage">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSource">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAttributeName">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getRootSource">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getRelationLabel">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAdditionalRelationLabel">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getTermType">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAcquisitionContactInformation">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getCharacterSet">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getContentContactInformation">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getCooccurrenceType">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getCurrentVersionSource">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getGeneralMetadataEntry">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getIdentifierType">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getLicenseContactInformation">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getRootSourceSynonymousNames">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSourceAttributeName">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSourceCitation">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSourceRelationLabel">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSourceTermType">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSubEquivalentAttributeNames">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSubheading">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAllAdditionalRelationLabels">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAllAttributeNames">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAllCharacterSets">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAllCooccurrenceTypes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAllEquivalentAttributeNames">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAllLanguages">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAllRelationLabels">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAllRootSources">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAllSourceAttributeNames">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAllSourceCitations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAllSourceRelationLabels">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAllSources">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAllSourceTermTypes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAllSubheadings">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAllSuperAttributeNames">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAllTermTypes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getVersionedSources">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
</binding>
<service name="UtsWsMetadataControllerImplService">
<port name="UtsWsMetadataControllerImplPort" binding="tns:UtsWsMetadataControllerImplPortBinding">
<soap:address location="https://uts-ws.nlm.nih.gov:443/services/nwsMetadata" />
</port>
</service>
</definitions>