src/main/resources/wsdl/nwsSecurity.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.uts.umls.nlm.nih.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.uts.umls.nlm.nih.gov/" name="UtsWsSecurityControllerImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.uts.umls.nlm.nih.gov/" schemaLocation="https://uts-ws.nlm.nih.gov:443/services/nwsSecurity?xsd=1" />
</xsd:schema>
</types>
<message name="getProxyGrantTicket">
<part name="parameters" element="tns:getProxyGrantTicket" />
</message>
<message name="getProxyGrantTicketResponse">
<part name="parameters" element="tns:getProxyGrantTicketResponse" />
</message>
<message name="UtsFault">
<part name="fault" element="tns:UtsFault" />
</message>
<message name="getProxyTicket">
<part name="parameters" element="tns:getProxyTicket" />
</message>
<message name="getProxyTicketResponse">
<part name="parameters" element="tns:getProxyTicketResponse" />
</message>
<message name="validateProxyTicket">
<part name="parameters" element="tns:validateProxyTicket" />
</message>
<message name="validateProxyTicketResponse">
<part name="parameters" element="tns:validateProxyTicketResponse" />
</message>
<portType name="UtsWsSecurityController">
<operation name="getProxyGrantTicket">
<input message="tns:getProxyGrantTicket" />
<output message="tns:getProxyGrantTicketResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getProxyTicket">
<input message="tns:getProxyTicket" />
<output message="tns:getProxyTicketResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="validateProxyTicket">
<input message="tns:validateProxyTicket" />
<output message="tns:validateProxyTicketResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
</portType>
<binding name="UtsWsSecurityControllerImplPortBinding" type="tns:UtsWsSecurityController">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getProxyGrantTicket">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getProxyTicket">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="validateProxyTicket">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
</binding>
<service name="UtsWsSecurityControllerImplService">
<port name="UtsWsSecurityControllerImplPort" binding="tns:UtsWsSecurityControllerImplPortBinding">
<soap:address location="https://uts-ws.nlm.nih.gov:443/services/nwsSecurity" />
</port>
</service>
</definitions>