src/main/resources/wsdl/nwsSemanticNetwork.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.uts.umls.nlm.nih.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.uts.umls.nlm.nih.gov/" name="UtsWsSemanticNetworkControllerImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.uts.umls.nlm.nih.gov/" schemaLocation="https://uts-ws.nlm.nih.gov:443/services/nwsSemanticNetwork?xsd=1" />
</xsd:schema>
</types>
<message name="getSemanticType">
<part name="parameters" element="tns:getSemanticType" />
</message>
<message name="getSemanticTypeResponse">
<part name="parameters" element="tns:getSemanticTypeResponse" />
</message>
<message name="UtsFault">
<part name="fault" element="tns:UtsFault" />
</message>
<message name="getSemanticNetworkRelationLabel">
<part name="parameters" element="tns:getSemanticNetworkRelationLabel" />
</message>
<message name="getSemanticNetworkRelationLabelResponse">
<part name="parameters" element="tns:getSemanticNetworkRelationLabelResponse" />
</message>
<message name="getInheritedSemanticTypeRelations">
<part name="parameters" element="tns:getInheritedSemanticTypeRelations" />
</message>
<message name="getInheritedSemanticTypeRelationsResponse">
<part name="parameters" element="tns:getInheritedSemanticTypeRelationsResponse" />
</message>
<message name="getInheritedSemanticNetworkRelationLabelRelations">
<part name="parameters" element="tns:getInheritedSemanticNetworkRelationLabelRelations" />
</message>
<message name="getInheritedSemanticNetworkRelationLabelRelationsResponse">
<part name="parameters" element="tns:getInheritedSemanticNetworkRelationLabelRelationsResponse" />
</message>
<message name="getSemanticTypes">
<part name="parameters" element="tns:getSemanticTypes" />
</message>
<message name="getSemanticTypesResponse">
<part name="parameters" element="tns:getSemanticTypesResponse" />
</message>
<message name="getInverseInheritedSemanticNetworkRelationLabelRelations">
<part name="parameters" element="tns:getInverseInheritedSemanticNetworkRelationLabelRelations" />
</message>
<message name="getInverseInheritedSemanticNetworkRelationLabelRelationsResponse">
<part name="parameters" element="tns:getInverseInheritedSemanticNetworkRelationLabelRelationsResponse" />
</message>
<message name="getInverseInheritedSemanticTypeRelations">
<part name="parameters" element="tns:getInverseInheritedSemanticTypeRelations" />
</message>
<message name="getInverseInheritedSemanticTypeRelationsResponse">
<part name="parameters" element="tns:getInverseInheritedSemanticTypeRelationsResponse" />
</message>
<message name="getInverseSemanticNetworkRelationLabelRelations">
<part name="parameters" element="tns:getInverseSemanticNetworkRelationLabelRelations" />
</message>
<message name="getInverseSemanticNetworkRelationLabelRelationsResponse">
<part name="parameters" element="tns:getInverseSemanticNetworkRelationLabelRelationsResponse" />
</message>
<message name="getInverseSemanticTypeRelations">
<part name="parameters" element="tns:getInverseSemanticTypeRelations" />
</message>
<message name="getInverseSemanticTypeRelationsResponse">
<part name="parameters" element="tns:getInverseSemanticTypeRelationsResponse" />
</message>
<message name="getSemanticNetworkRelationLabelRelation">
<part name="parameters" element="tns:getSemanticNetworkRelationLabelRelation" />
</message>
<message name="getSemanticNetworkRelationLabelRelationResponse">
<part name="parameters" element="tns:getSemanticNetworkRelationLabelRelationResponse" />
</message>
<message name="getSemanticNetworkRelationLabelRelations">
<part name="parameters" element="tns:getSemanticNetworkRelationLabelRelations" />
</message>
<message name="getSemanticNetworkRelationLabelRelationsResponse">
<part name="parameters" element="tns:getSemanticNetworkRelationLabelRelationsResponse" />
</message>
<message name="getSemanticNetworkRelationLabelRelationsForPair">
<part name="parameters" element="tns:getSemanticNetworkRelationLabelRelationsForPair" />
</message>
<message name="getSemanticNetworkRelationLabelRelationsForPairResponse">
<part name="parameters" element="tns:getSemanticNetworkRelationLabelRelationsForPairResponse" />
</message>
<message name="getSemanticTypeGroup">
<part name="parameters" element="tns:getSemanticTypeGroup" />
</message>
<message name="getSemanticTypeGroupResponse">
<part name="parameters" element="tns:getSemanticTypeGroupResponse" />
</message>
<message name="getSemanticTypeRelationsForPair">
<part name="parameters" element="tns:getSemanticTypeRelationsForPair" />
</message>
<message name="getSemanticTypeRelationsForPairResponse">
<part name="parameters" element="tns:getSemanticTypeRelationsForPairResponse" />
</message>
<message name="getSemanticTypeRelation">
<part name="parameters" element="tns:getSemanticTypeRelation" />
</message>
<message name="getSemanticTypeRelationResponse">
<part name="parameters" element="tns:getSemanticTypeRelationResponse" />
</message>
<message name="getSemanticTypeRelations">
<part name="parameters" element="tns:getSemanticTypeRelations" />
</message>
<message name="getSemanticTypeRelationsResponse">
<part name="parameters" element="tns:getSemanticTypeRelationsResponse" />
</message>
<message name="getAllSemanticNetworkRelationLabelRelations">
<part name="parameters" element="tns:getAllSemanticNetworkRelationLabelRelations" />
</message>
<message name="getAllSemanticNetworkRelationLabelRelationsResponse">
<part name="parameters" element="tns:getAllSemanticNetworkRelationLabelRelationsResponse" />
</message>
<message name="getAllSemanticNetworkRelationLabels">
<part name="parameters" element="tns:getAllSemanticNetworkRelationLabels" />
</message>
<message name="getAllSemanticNetworkRelationLabelsResponse">
<part name="parameters" element="tns:getAllSemanticNetworkRelationLabelsResponse" />
</message>
<message name="getAllSemanticTypeGroups">
<part name="parameters" element="tns:getAllSemanticTypeGroups" />
</message>
<message name="getAllSemanticTypeGroupsResponse">
<part name="parameters" element="tns:getAllSemanticTypeGroupsResponse" />
</message>
<message name="getAllSemanticTypeRelations">
<part name="parameters" element="tns:getAllSemanticTypeRelations" />
</message>
<message name="getAllSemanticTypeRelationsResponse">
<part name="parameters" element="tns:getAllSemanticTypeRelationsResponse" />
</message>
<message name="getAllSemanticTypes">
<part name="parameters" element="tns:getAllSemanticTypes" />
</message>
<message name="getAllSemanticTypesResponse">
<part name="parameters" element="tns:getAllSemanticTypesResponse" />
</message>
<portType name="UtsWsSemanticNetworkController">
<operation name="getSemanticType">
<input message="tns:getSemanticType" />
<output message="tns:getSemanticTypeResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSemanticNetworkRelationLabel">
<input message="tns:getSemanticNetworkRelationLabel" />
<output message="tns:getSemanticNetworkRelationLabelResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getInheritedSemanticTypeRelations">
<input message="tns:getInheritedSemanticTypeRelations" />
<output message="tns:getInheritedSemanticTypeRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getInheritedSemanticNetworkRelationLabelRelations">
<input message="tns:getInheritedSemanticNetworkRelationLabelRelations" />
<output message="tns:getInheritedSemanticNetworkRelationLabelRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSemanticTypes">
<input message="tns:getSemanticTypes" />
<output message="tns:getSemanticTypesResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getInverseInheritedSemanticNetworkRelationLabelRelations">
<input message="tns:getInverseInheritedSemanticNetworkRelationLabelRelations" />
<output message="tns:getInverseInheritedSemanticNetworkRelationLabelRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getInverseInheritedSemanticTypeRelations">
<input message="tns:getInverseInheritedSemanticTypeRelations" />
<output message="tns:getInverseInheritedSemanticTypeRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getInverseSemanticNetworkRelationLabelRelations">
<input message="tns:getInverseSemanticNetworkRelationLabelRelations" />
<output message="tns:getInverseSemanticNetworkRelationLabelRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getInverseSemanticTypeRelations">
<input message="tns:getInverseSemanticTypeRelations" />
<output message="tns:getInverseSemanticTypeRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSemanticNetworkRelationLabelRelation">
<input message="tns:getSemanticNetworkRelationLabelRelation" />
<output message="tns:getSemanticNetworkRelationLabelRelationResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSemanticNetworkRelationLabelRelations">
<input message="tns:getSemanticNetworkRelationLabelRelations" />
<output message="tns:getSemanticNetworkRelationLabelRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSemanticNetworkRelationLabelRelationsForPair">
<input message="tns:getSemanticNetworkRelationLabelRelationsForPair" />
<output message="tns:getSemanticNetworkRelationLabelRelationsForPairResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSemanticTypeGroup">
<input message="tns:getSemanticTypeGroup" />
<output message="tns:getSemanticTypeGroupResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSemanticTypeRelationsForPair">
<input message="tns:getSemanticTypeRelationsForPair" />
<output message="tns:getSemanticTypeRelationsForPairResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSemanticTypeRelation">
<input message="tns:getSemanticTypeRelation" />
<output message="tns:getSemanticTypeRelationResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getSemanticTypeRelations">
<input message="tns:getSemanticTypeRelations" />
<output message="tns:getSemanticTypeRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAllSemanticNetworkRelationLabelRelations">
<input message="tns:getAllSemanticNetworkRelationLabelRelations" />
<output message="tns:getAllSemanticNetworkRelationLabelRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAllSemanticNetworkRelationLabels">
<input message="tns:getAllSemanticNetworkRelationLabels" />
<output message="tns:getAllSemanticNetworkRelationLabelsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAllSemanticTypeGroups">
<input message="tns:getAllSemanticTypeGroups" />
<output message="tns:getAllSemanticTypeGroupsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAllSemanticTypeRelations">
<input message="tns:getAllSemanticTypeRelations" />
<output message="tns:getAllSemanticTypeRelationsResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
<operation name="getAllSemanticTypes">
<input message="tns:getAllSemanticTypes" />
<output message="tns:getAllSemanticTypesResponse" />
<fault message="tns:UtsFault" name="UtsFault" />
</operation>
</portType>
<binding name="UtsWsSemanticNetworkControllerImplPortBinding" type="tns:UtsWsSemanticNetworkController">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getSemanticType">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSemanticNetworkRelationLabel">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getInheritedSemanticTypeRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getInheritedSemanticNetworkRelationLabelRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSemanticTypes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getInverseInheritedSemanticNetworkRelationLabelRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getInverseInheritedSemanticTypeRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getInverseSemanticNetworkRelationLabelRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getInverseSemanticTypeRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSemanticNetworkRelationLabelRelation">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSemanticNetworkRelationLabelRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSemanticNetworkRelationLabelRelationsForPair">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSemanticTypeGroup">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSemanticTypeRelationsForPair">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSemanticTypeRelation">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getSemanticTypeRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAllSemanticNetworkRelationLabelRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAllSemanticNetworkRelationLabels">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAllSemanticTypeGroups">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAllSemanticTypeRelations">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
<operation name="getAllSemanticTypes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UtsFault">
<soap:fault name="UtsFault" use="literal" />
</fault>
</operation>
</binding>
<service name="UtsWsSemanticNetworkControllerImplService">
<port name="UtsWsSemanticNetworkControllerImplPort" binding="tns:UtsWsSemanticNetworkControllerImplPortBinding">
<soap:address location="https://uts-ws.nlm.nih.gov:443/services/nwsSemanticNetwork" />
</port>
</service>
</definitions>